body {
  margin: 0;
  overflow: hidden;
  font-family: monospace;
  background: White;
  color: #00ffd0;
}

.panel {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 340px;
  max-width: 92vw;
  background: rgba(0,0,0,0.9);
  border: 1px solid #00ffd0;
  padding: 10px;
}

input, textarea {
  width: 100%;
  background: black;
  color: #00ffd0;
  border: 1px solid #00ffd0;
}

textarea { height: 120px; }

button {
  margin-top: 5px;
  background: #00ffd0;
  border: none;
  padding: 6px;
  cursor: pointer;
  width: 100%;
}

.row {
  display: flex;
  gap: 5px;
}

.row input {
  flex: 1;
}

input[type="color"]{
  width: 35px;
  height: 22px;
}
.footer{
  position: absolute;
  bottom: 5px;
  left: 10px;
  font-size: 12px;
  color: #00ffd0;
  opacity: 0.8;
}
